html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Raleway', Arial, sans-serif;
}

.card-deck-container {
    /*margin-top: 50px;*/
    /*margin-left: 240px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
}

.toolbar-container {
  margin: 10px;
}

.card-title {
  color: rgba(0, 0, 0, 0.80);
}

.home-page-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  padding: 10px;
  /*margin-top: 50%;*/
  border-radius: 5px;
  border: 2px solid #888;
}

.login-field {
  vertical-align: center;
  align-content: center;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    color: #880e4f;
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #f48fb1;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    color: #f48fb1;
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #880e4f;
  }
}
@keyframes rotating
{
  0%
  {
    transform: scale( 1 );
    color: #33691e;
  }
  10%
  {
    transform: scale( .75 );
    color: #558b2f;
  }
  20%
  {
    transform: scale( 1 );
    color: #33691e;
  }
  30%
  {
    transform: scale( .75 );
    color: #558b2f;
  }
  40%
  {
    transform: scale( 1 );
    color: #33691e;
  }
  50%
  {
    transform: scale( .75 );
    color: #558b2f;
  }
  60%
  {
    transform: scale( 1 );
    color: #33691e;
  }
  70%
  {
    transform: scale( .75 );
    color: #558b2f;
  }
  80%
  {
    transform: scale( 1 );
    color: #33691e;
  }
  90%
  {
    transform: scale( .75 );
    color: #558b2f;
  }
  100%
  {
    transform: scale( 1 );
    color: #33691e;
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}